<div class="left-nav col-lg-3 col-md-3 col-sm-4 scroll">
    <h3 class="lead">Getting Started</h3>
    <div class="list-group table-of-contents">
        <a class="list-group-item" href="#introduction">Introduction</a>
        <a class="list-group-item" href="#setup">Setting Up</a>
        <a class="list-group-item" href="#formdef">Form Definition</a>
    </div>
    <h3 class="lead">Form Elements</h3>
    <div class="list-group table-of-contents">
        <a class="list-group-item" href="#textbox">Textbox</a>
        <a class="list-group-item" href="#textarea">Textarea</a>
        <a class="list-group-item" href="#checkbox">Checkbox List</a>
        <a class="list-group-item" href="#dropdown">Dropdown List</a>
        <a class="list-group-item" href="#datepicker">Datepicker</a>
    </div>
</div>