<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        {% assign url = page.url %}
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <li {% if url == my_page.url %}class="active"{% endif %} data-url="{{url}}">
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/codazen/formulationjs/releases/" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>