input[type="submit"] {
	padding: 8px 10px 8px 10px;
	border-radius: 0px;
	border: none;
	font-family: 'Museo Sans';
	font-size: 14px;
	font-style: normal;
}

input[type="submit"].enabled {
	background-color: #1166b4;
	color: #ffffff;
}

input[type="submit"].disabled {
	background-color: #abb2b8;
	color: #767f87;
}

input[type="submit"].hovered {
	background-color: #1166b4;
	color: #ffffff;
}