textarea[type="textarea"] {
	border-radius: 0px;
	border-style: solid;
	height: 100px;
	width: 220px;
	background-color: #ffffff;
	border-color: #333333;
}

textarea[type="textarea"].disabled {
	background-color: #dcdfe3;
	border-color: #bec2c7;
}

textarea[type="textarea"].invalid {
  border-color: #c32323;
};
