input[type="text"] {
	border-radius: 3px;
	border-style: solid;
	height: 17px;
	width: 160px;
	background-color: #ffffff;
	border-color: #333333;
}

input[type="text"].disabled {
	background-color: #dcdfe3;;
	border-color: #bec2c7;
}

input[type="text"].invalid {
  border-color: #c32323;
};
