input[type="text"] {
	border-radius: 0px;
	border-style: solid;
	height: 25px;
	width: 220px;
}

input[type="text"].enabled {
	background-color: #ffffff;
	border-color: #333333;
}

input[type="text"].disabled {
	background-color: #dcdfe3;
	border-color: #bec2c7;
}

input[type="text"].invalid {
  border-color: #c32323;
};

/*div.required {
  color: #ff0000;
};*/